.head{
    background-color: rgb(38, 134, 38);
}
.box{
    height: 100px;
    width:100px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    margin:0.25em;
    background-color: rgb(2, 2, 2);
}
.box1{
    height: 100px;
    width:100px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    margin:0.25em;
    background-color: rgb(175, 9, 9);
}
